---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Arte Dental Condesa" keywords="404, error">
  <Header />
  <main>
    <Hero 
      title="ERROR 404"
      text="Página no encontrada"
      span="¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección URL sea correcta."
      img="/logo-arte-dental-full.png"
      number="Volver al inicio"
      error="/"
    />
  </main>
  <Footer />
</Layout>