---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import AboutUs from "../components/AboutUs.astro";
import Map from "../components/Map.astro";
import Reviews from "../components/Reviews.astro";
import Gallery from "../components/Gallery.astro";
import VideoHero from "../components/VideoHero.astro";
import PromocionEstrella from "../components/PromocionEstrella.astro";
---

<Layout
  title="Arte Dental Condesa"
  keywords="Arte Dental Condesa, Odontología, Dentista, Clínica dental, Tratamientos dentales, Cuidado dental, Salud bucal, Odontología preventiva, Ortodoncia, Implantes dentales, Blanqueamiento dental, Endodoncia, Prótesis dentales, Periodoncia, Carillas dentales, Odontopediatría, Estética dental, Radiografías dentales, Cirugía oral, Urgencias dentales, Sedación consciente"
>
  <main>
    <VideoHero />
    <!-- <Hero 
			title='Cuidado Personalizado para tu Sonrisa'
			text='Arte Dental Condesa es tu destino para una atención dental excepcional en el corazón de Condesa. Nuestro equipo altamente calificado combina la pasión por el arte y la ciencia para ofrecerte tratamientos personalizados en un ambiente acogedor y moderno. Con tecnología de vanguardia y un enfoque centrado en el paciente, estamos aquí para que tu experiencia dental sea cómoda y satisfactoria. '
			span='¡Ven y descubre el arte de sonreír con confianza en Arte Dental Condesa!'
			img='/hero.webp'
			number='5538631323'
			isHero
		/> -->
    <PromocionEstrella/>
    <Services />
    <AboutUs />
    <Gallery />
    <Reviews />
    <Map />
  </main>
</Layout>
