---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import AboutUs from '../components/AboutUs.astro'
import Footer from '../components/Footer.astro'
import Map from '../components/Map.astro'
import { ViewTransitions } from 'astro:transitions'
---

<Layout title="Arte Dental Condesa">
	<ViewTransitions />
	<Header />
	<main>
		<Hero />
		<Services />
		<AboutUs />
		<Map />
		<Footer />
	</main>
</Layout>