---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import AboutUs from '../components/AboutUs.astro'
import Footer from '../components/Footer.astro'
import Map from '../components/Map.astro'
---

<Layout title="Arte Dental Condesa">
	<Header />
	<main>
		<Hero 
			title='Cuidado Personalizado para tu Sonrisa'
			text='Arte Dental Condesa es tu destino para una atención dental excepcional en el corazón de Condesa. Nuestro equipo altamente calificado combina la pasión por el arte y la ciencia para ofrecerte tratamientos personalizados en un ambiente acogedor y moderno. Con tecnología de vanguardia y un enfoque centrado en el paciente, estamos aquí para que tu experiencia dental sea cómoda y satisfactoria. '
			span='¡Ven y descubre el arte de sonreír con confianza en Arte Dental Condesa!'
			img='/consultorio-1.webp'
		/>
		<Services />
		<AboutUs />
		<Map />
		<Footer />
	</main>
</Layout>