---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Footer from '../components/Footer.astro'
import Map from '../components/Map.astro'
import ClinicCases from '../components/ClinicCases.astro'
import Slide from '../components/Slide.astro'
---

<Layout title="Microcarillas | Arte Dental Condesa" keywords='microcarillas dentales, microcarillas, microcarillas sin desgaste, microcarillas sin dolor, Arte Dental Condesa, Odontología, Dentista, Clínica dental, Tratamientos dentales, Cuidado dental, Salud bucal, Odontología preventiva, Ortodoncia, Implantes dentales, Blanqueamiento dental, Endodoncia, Prótesis dentales, Periodoncia, Carillas dentales, Odontopediatría, Estética dental, Radiografías dentales, Cirugía oral, Urgencias dentales, Sedación consciente'>
	<Header />
	<main>
		<Hero 
			title='Conoce nuestros tipos de microcarillas'
			text='Descubre cómo nuestras microcarillas dentales pueden revitalizar tu sonrisa. Nuestros tratamientos estéticos ofrecen soluciones personalizadas y de alta calidad para corregir imperfecciones dentales, desde manchas hasta desalineaciones. Con tecnología avanzada y un equipo de profesionales expertos, te ofrecemos resultados naturales y duraderos que mejorarán tu confianza y tu apariencia. '
			span='¡Embellece tu sonrisa y transforma tu vida con nuestras opciones de microcarillas dentales!'
			img='/estetica.webp'
			isHero
		/>
		<section class="w-full flex justify-center items-center my-10 flex-col" id="nosotros">
			<div class="w-full px-4 grid grid-cols-1 place-content-center place-items-center gap-3 md:my-10 md:gap-10 md:grid-cols-2 md:max-w-7xl">
				<article class=" animate-fade-in-right">
					<h1 class="text-gray-800 font-bold text-2xl md:text-4xl">¿Qué son las microcarillas?</h1>
					<hr class=" w-16 border-primary my-6 border-[1px]">
					<img class="rounded-ee-[80px] mb-6 md:hidden" src="/microcarillas-esteticas.webp" alt="Sonrisa realizada con microcarillas dentales">
					<p>
						Las microcarillas ofrecen un resultado muy natural, duradero y en tan solo unos días. Se trata de unas láminas de porcelana, de un grosor mínimo, que se colocan en la superficie dental con el fin de conseguir una sonrisa permanentemente blanca, alineada y armónica. Si estás pensando en colocarte microcarillas y necesitas ampliar la información, en este artículo te explicamos todo lo que debes saber.</p>
				</article>
				<img class="hidden rounded-ee-[80px] animate-fade-in-left md:block" src="/microcarillas-esteticas.webp" alt="Team Arte Dental Condesa">
			</div>
		</section>
		<section class="w-full flex justify-center items-center my-10 flex-col" id="servicios">
			<div class=" w-full flex justify-center items-start flex-col px-4 md:max-w-4xl">
				<h2 class="text-gray-800 font-bold text-2xl md:text-4xl">Ventajas de las microcarillas</h2>
				<hr class=" w-16 border-primary my-4 border-[1px]">
			</div>
			<div class="w-full flex justify-center items-center px-4 flex-col md:max-w-screen-md">
				<p>La gran ventaja de las microcarillas es que consiguen dar un giro a la sonrisa de una manera muy sencilla y en absoluto invasiva. Estas láminas se colocan en las piezas dentales que se ven al sonreír, es decir, en los dientes superiores de canino a canino. Su función es estética y con este tratamiento se corrigen pequeños defectos de la sonrisa que nos gustaría cambiar, como:</p>
				<ul class="pl-4 my-6 list-disc md:pl-0">
					<li class="mb-2 marker:text-primary font-bold text-lg text-primary">Sin desgaste dental y poco invasivas <small class="text-gray-800 font-extralight">*previa valoración</small></li>
					<li class="mb-2 marker:text-primary">Solucionar fracturas parciales del diente</li>
					<li class="mb-2 marker:text-primary">Conseguir el tono de blanco deseado para la sonrisa de forma permanente, ya que no cambian su color ni se oscurecen con el paso del tiempo</li>
					<li class="mb-2 marker:text-primary">En piezas dentales demasiado pequeñas, es posible modificar su tamaño para hacer que la sonrisa tenga más amplitud</li>
					<li class="mb-2 marker:text-primary">Corregir los espacios entre dientes, o diastemas, que perjudican la imagen del paciente</li>
					<li class="mb-2 marker:text-primary">Resultados duraderos, ya que las microcarillas de porcelana se mantienen en perfecto estado durante muchos años</li>
				</ul>
			</div>
		</section>
		<section class="w-full flex justify-center items-center my-10 flex-col" id="servicios">
			<div class=" w-full flex justify-center items-start flex-col px-4 md:max-w-4xl">
				<h2 class="text-gray-800 font-bold text-2xl md:text-4xl">¿Hay diferencias entre carillas y microcarillas?</h2>
				<hr class=" w-16 border-primary my-4 border-[1px]">
			</div>
			<div class="w-full flex justify-center items-center px-4 flex-col md:max-w-screen-md">
				<p>Si entendemos el tratamiento en general, es decir, las láminas adheridas en la superficie dental, lo cierto es que carillas y microcarillas pueden ser sinónimos. Sin embargo, lo más habitual es que el término microcarillas haga únicamente referencia a aquellas hechas con porcelana ultrafina.</p>
				<p class="mt-4">También existen las carillas de composite pero, al ser otro tipo de material que se trabaja directamente sobre el diente del paciente, en ciertas ocasiones sí puede ser necesario el tallado.</p>
				<p class="mt-4">El composite es muy polivalente a la hora de realizar reconstrucciones dentales estéticas en un único diente, pero si queremos mejorar toda la sonrisa, es preferible optar por microcarillas de porcelana. Por eso, no suele hablarse de microcarillas de composite.</p>
				<a class=" py-2 px-4 bg-primary rounded-full inline-block transition text-white my-4 hover:transition-all hover:scale-110" href="https://wa.me/525516513563?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer">Agendar Cita</a>
			</div>
		</section>
		<ClinicCases>
			<Slide 
				img='/casos/caso-4.webp'
				alt='caso clinico'
				text='La paciente deseaba mejorar su sonrisa. Se le plantean las opciones posibles y se opta por unas microcarillas de porcelana.'
			/>
			<Slide 
				img='/casos/caso-5.webp'
				alt='caso clinico'
				text='La paciente lleva unas carillas antiguas de composite que estaban en mal estado y filtradas. Se han sustituido por unas microcarillas de porcelana.'
			/>
			<Slide 
				img='/caso-1.webp'
				alt='caso clinico'
				text='La paciente lleva unas carillas antiguas de composite que estaban en mal estado y filtradas. Se han sustituido por unas microcarillas de porcelana.'
			/>
		</ClinicCases>
		<Hero 
			img='/promo-consulta.webp'
			title='Consulta de primera revisión dental ¡Sin costo!'
			text='Obtén una consulta de primera revisión dental totalmente gratuita en nuestra clínica. Nuestro equipo de expertos está listo para cuidar de tu salud bucal sin ningún costo en tu primera visita. No esperes más, agenda tu cita ahora mismo y descubre cómo podemos ayudarte a mantener una sonrisa radiante y saludable.'
			span='¡Tu sonrisa es nuestra prioridad!'
			reverse
		/>
		<Map />
		<Footer />
	</main>
</Layout>