---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Map from '../components/Map.astro'
import Footer from '../components/Footer.astro'
---


<Layout title="Promociones - Arte Dental Condesa" keywords='Promociones dentales, promos dentales, microcarillas, consulta gratis, Arte Dental Condesa, Odontología, Dentista, Clínica dental, Tratamientos dentales, Cuidado dental, Salud bucal, Odontología preventiva, Ortodoncia, Implantes dentales, Blanqueamiento dental, Endodoncia, Prótesis dentales, Periodoncia, Carillas dentales, Odontopediatría, Estética dental, Radiografías dentales, Cirugía oral, Urgencias dentales, Sedación consciente'>
  <Header />
  <main>
    <Hero 
      img='/promo-consulta.webp'
      title='Consulta de primera revisión dental ¡Sin costo!'
      text='Obtén una consulta de primera revisión dental totalmente gratuita en nuestra clínica. Nuestro equipo de expertos está listo para cuidar de tu salud bucal sin ningún costo en tu primera visita. No esperes más, agenda tu cita ahora mismo y descubre cómo podemos ayudarte a mantener una sonrisa radiante y saludable.'
      span='¡Tu sonrisa es nuestra prioridad!'
      isHero
    />
    <Hero 
      img='/promo-microcarillas.webp'
      title='Microcarillas dentales con hasta $1,000 de descuento'
      text='En nuestra clínica, ofrecemos tratamientos de vanguardia para mejorar tu estética dental a precios accesibles. No dejes pasar esta oportunidad de obtener un descuento significativo en tu tratamiento. Agenda tu consulta hoy mismo y descubre cómo nuestras microcarillas pueden revitalizar tu sonrisa de manera rápida y segura.'
      span='¡Transforma tu sonrisa con nuestras microcarillas dentales y ahorra hasta $1000!'
      reverse
    />
  </main>
  <Map />
  <Footer />
</Layout>