---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Map from '../components/Map.astro'
import ClinicCases from '../components/ClinicCases.astro'
import Slide from '../components/Slide.astro'
import DescriptionService from '../components/DescriptionService.astro'
import Advantages from '../components/Advantages.astro'

const info = [
	{
		text: 'Una de las mayores ventajas frente a otros tratamientos, es la de volver a disfrutar de dientes como si fueran los tuyos propios'
	},
	{
		text: 'Los Implantes dentales no son costosos, por su material de tecnología avanzada como lo es el titanio puro'
	},
	{
		text: 'Da un resultado altamente estético, tanto en dientes como en encías'
	},
	{
		text: 'Una prótesis híbrida dental es versátil y muy fácil de mantener'
	}
]
---

<Layout title="Prótesis Híbridas Sobre Implantes | Arte Dental Condesa" keywords='Prótesis, protesis, Prótesis Híbrida sobre implantes, implantes dentales, rehabilitación oral'>
	<main>
		<Hero 
			title='Conoce las prótesis híbridas sobre implantes'
			text='Descubre la solución definitiva para una sonrisa completa y natural con nuestras prótesis híbridas sobre implantes. Diseñadas para ofrecer estabilidad, funcionalidad y estética excepcionales, nuestras prótesis combinan la durabilidad de los implantes dentales con la belleza de los dientes artificiales.'
			span=' Recupera la confianza en tu sonrisa y disfruta de una vida sin preocupaciones con nuestras prótesis híbridas sobre implantes.'
			img='/banner-protesis.webp'
			isHero
		/>
		<DescriptionService 
			title='¿Qué son las prótesis híbridas sobre implantes?'
			imgSrc='/protesis.webp'
			alt='Prótesis dental híbrida sobre implante'
			description='Estas prótesis consisten en una estructura metálica y resina que soporta las coronas que son de resina acrílica. Son necesarios varios implantes osteointegrados por arcada dental para realizar una prótesis híbrida implantosoportada. Esta prótesis no se puede retirar por el paciente ya que es una estructura fija atornillada sobre los implantes. Aporta al paciente mucha más seguridad en la masticación que la sobredentadura, son muy cómodas, dan soporte moderado al labio superior.'
		/>
		<Advantages
			title='Ventajas de las prótesis híbridas sobre implantes'
		>
			{
				info.map((item) => (
					<li class="marker:text-primary">{item.text}</li>
				))
			}
		</Advantages>
		<section class="w-full flex justify-center items-center my-10 flex-col">
			<div class=" w-full flex justify-center items-start flex-col px-4 md:max-w-4xl">
				<h2 class="text-gray-800 font-bold text-2xl md:text-4xl">Confía en nuestra experiencia</h2>
				<hr class=" w-16 border-primary my-4 border-[1px]">
			</div>
			<div class="w-full flex justify-center items-center px-4 flex-col md:max-w-screen-md">
				<p>Gracias a nuestros años de experiencia podemos afirmar que las prótesis híbridas sobre implantes es uno de los tratamientos que mejor aceptación tiene entre nuestros pacientes.</p>
				<p class="mt-4">En Arte Dental Condesa estamos especializados en la rehabilitación de casos complejos mediante implantes dentales. Gracias a nuestra experiencia y nuestros profesionales expertos en cirugía, implantología y cirugía oral, podrás volver a disfrutar de una sonrisa sana y bonita.</p>
				<a class=" py-2 px-4 bg-primary rounded-full inline-block transition text-white my-4 hover:transition-all hover:scale-110" href="https://wa.me/525516513563?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer">Agendar Cita</a>
			</div>
		</section>
		<ClinicCases>
			{
				Array.from({ length: 3 }).map((item, i) => (
					<Slide 
						img={`/casos/implante-${i+1}.webp`}
						alt='caso clinico'
						text='La paciente deseaba mejorar su sonrisa. Se le plantean las opciones posibles y se opta por una prótesis híbrida sobre implantes'
					/>
				))
			}
		</ClinicCases>
		<Hero 
			img='/promo-consulta.webp'
			title='Consulta de primera revisión dental ¡Sin costo!'
			text='Obtén una consulta de primera revisión dental totalmente gratuita en nuestra clínica. Nuestro equipo de expertos está listo para cuidar de tu salud bucal sin ningún costo en tu primera visita. No esperes más, agenda tu cita ahora mismo y descubre cómo podemos ayudarte a mantener una sonrisa radiante y saludable.'
			span='¡Tu sonrisa es nuestra prioridad!'
			reverse
		/>
		<Map />
	</main>
</Layout>