---
interface Props {
  text?: string
  error? :string
}
const { text, error } = Astro.props
---

<a 
  class="py-2 px-4 bg-primary rounded-full inline-block transition text-white my-4 hover:transition-all hover:scale-110" 
  href={error ? error : 'https://wa.me/525516513563?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre'} 
  target={error ? "_parent" : "_blank"}
  rel="noopener noreferrer"
  aria-label="Agenda tu cita"
>
  {text ? text : "Agendar Cita"}
</a>