---
import WhatsApp from "./WhatsApp.astro";
---

<a 
  class="w-16 h-16 rounded-full fixed bottom-2 right-2 bg-green-500 flex justify-center items-center text-white transition md:w-20 md:h-20 hover:transition hover:bg-green-500/70" href="https://wa.me/525516513563?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" 
  target="_blank" 
  rel="noopener noreferrer"
  aria-label="Agendar cita"
>
  <WhatsApp class=" w-8"/>
</a>