---
interface Props {
  title: string
  text:string
  span: string
  img: string
}

const { title, text, span, img } = Astro.props
---

<section class="w-full flex justify-center items-center mt-12 md:mt-20">
  <div class='w-full px-4 grid grid-cols-1 place-content-center place-items-center gap-3 md:gap-10 md:grid-cols-[repeat(2,_minmax(350px,_500px))] md:max-w-7xl'>
    <article class=" animate-fade-in-right">
      <a href="/" rel="noopener noreferrer" class="flex items-center justify-center md:justify-start"><img loading="lazy" class=" w-36 mb-3" src="/logo-arte-dental-full-alt.png" alt="Logo Arte Dental"></a>
      <h1 class="text-gray-800 font-bold text-2xl md:text-4xl">{title}</h1>
      <hr class=" w-16 border-primary my-6 border-[1px]">
      <p>{text}<br> <span class="font-bold text-secondary text-lg">{span}</span></p>
      <a class=" py-2 px-4 bg-primary rounded-full inline-block transition text-white my-4 hover:transition-all hover:scale-110" href="https://wa.me/525516513563?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer">Agendar Cita</a>
    </article>
    <img class="rounded-ee-[80px] animate-fade-in-left" src={img} loading="lazy" alt="Consultorio Arte Dental">
  </div>
</section>