<section class="w-full flex justify-center items-center my-10 flex-col" id="ubicacion">
  <div class=" w-full flex justify-center items-start flex-col px-4 md:max-w-7xl">
    <h2 class="text-gray-800 font-bold text-2xl md:text-4xl">Ubicación</h2>
    <hr class=" w-16 border-primary my-4 border-[1px]">
    <div class="w-full grid grid-cols-1 gap-6 place-content-center place-items-center md:gap-10 md:grid-cols-[repeat(2,_minmax(450px,_550px))]">
      <div >
        <h3 class="font-bold text-gray-800 text-xl md:text-3xl">Dirección</h3>
        <p class="text-lg mb-5">Aguascalientes 181, Hipódromo, Cuauhtémoc, 06100, CDMX</p>
        <h3 class="font-bold text-gray-800 text-xl md:text-3xl">Horario</h3>
        <p class="text-lg">Lunes a viernes: 10:00 - 14:00 y 16:00 - 20:00</p>
        <p class="text-lg">Sábado: 10:00 - 14:00</p>
      </div>
      <iframe class="w-full h-56 md:h-80" title="Mapa Arte Dental Condesa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120412.63500934918!2d-99.25855144429308!3d19.416948933852385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffbe0c41283b%3A0x7af6bfeae1dcdd25!2sDr.%20R.%20Valero%2C%20Dentista%20-%20Odont%C3%B3logo!5e0!3m2!1ses-419!2smx!4v1709134039621!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>