<div class="w-full flex justify-center items-center my-10 flex-col">
    <h2 class="text-gray-800 font-bold p-4  text-4xl md:text-5xl">Nuestra promoción estrella del mes</h2>
    <hr class="w-20 border-primary my-4 border-[1px]" />
    <div class="container-promo md:hidden">
        <img src="/public/promo-vertical.png" alt="">
    </div>
    <div class="container-promo2 hidden md:block">
        <img src="/public/promo-limpieza.png" alt="">
    </div>
</div>